{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
 	<div class="jumbotron text-center">
   		<h1>Repuestos manzanilla <span class="glyphicon glyphicon-wrench"></span> </h1> 
   	</div>
</div>

{% endblock %}