{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
 	<div class="jumbotron">
   		 <h1 class="text-center">No tienes autorizacion para estar aquí!</h1>
  </div>
</div>
{% endblock %}
